<h1>New Picture</h1>

<form action="/gallery" method="post">
    Title:
    <br>
    <input type="text" name="title">
    <br> Description:
    <br>
    <input type="text" name="description">
    <br> Image Source:
    <br>
    <input type="text" name="imgURl">
    <br>
    <button>Submit</button>
</form>
<br>
<a href="/gallery">Back to Gallery</a>